.Orders-container ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}

.Orders-container ul li {
  margin: 12px 0;
}

.Orders-error {
  text-align: left;
}

.Orders-error span {
  font-weight: bold;
}
