.OrdersForm {
  display: flex;
  flex-direction: column;
}

.OrdersForm label {
  font-size: 10px;
  display: flex;
  flex-direction: column;
}
.OrdersForm input[type="text"] {
  background-color: #ddd;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 4px;
}

.OrdersForm input[type="submit"] {
  margin: 16px 0px;
  text-transform: uppercase;
  background-color: #120f59;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
}

.OrdersForm-error {
  color: #8f1824;
}