.OrdersDetails-container {
  display: flex;
  flex-wrap: wrap;
}

.OrderDetails-articles ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.OrderDetails-articles ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.OrderDetails-articleImage img {
  width: 40px;
  margin: 0 16px;
}